.app {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
}

.qr {
  position: fixed;
  inset: 0;
  background: white;
  filter: brightness(10);
  transition: 0.4s ease;
  box-shadow: 0 0 0 100vmax rgb(0 0 0 / 0.5);

  svg {
    width: 100%;
    height: 100%;
  }

  &:not(.qr-open) {
    box-shadow: 0 0 0 100vmax transparent;
    translate: 0 100%;
  }
}

.card {
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 2px 5px 0 rgb(0 0 0 / 15%);

  .card__snippet {
    display: block;
    background: #8ac0c3;
    padding: 1rem;
  }

  .card__contents {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.75rem;
    margin: 1rem;

    img {
      width: 5rem;
      height: 5rem;
      filter: brightness(0.95);
    }

    &:not(:first-of-type) {
      border-top: 1px solid #ccc;
      padding-top: 1rem;

      & > svg {
        height: 3rem;
      }
    }

    h2 {
      text-wrap: wrap;
      margin: 0;
      word-break: break-all;
    }
  }
}

.snippet {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  white-space: pre-line;

  div:first-of-type {
    font-size: 16px;
    color: #484949;
  }
}

.wallet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
  color: #0f7a52;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  gap: 0.5rem;
  padding: 0;
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;

    * {
      stroke-width: 42px;
    }
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

