.system-prompt-backdrop {
  position: fixed;
  inset: 0;
  background: linear-gradient(rgb(0 0 0 / 0.5), black);
  transition: 0.4s cubic-bezier(0, 0.68, 0.5, 1.5);
  opacity: 0.5;
  z-index: 1;

  &:not(.system-prompt-backdrop--open) {
    opacity: 0;
    pointer-events: none;
  }
}

.system-prompt {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 45px;
  min-height: 45vh;
  z-index: 1000;
  box-shadow: 0 0 100px rgb(0 0 0 / 20%);
  background: rgb(255 255 255 / 0.5);
  backdrop-filter: brightness(4) saturate(2) blur(40px);
  border: 1px solid rgb(255 255 255 / 0.5);
  padding: 40px;
  color: black;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: 0.4s cubic-bezier(0, 0.68, 0.5, 1.25);
  line-height: 1.5;

  h3, p {
    margin: 0;
  }

  &:not(.system-prompt--open) {
    translate: 0 140%;
    box-shadow: none;
  }

  ul {
    list-style-position: outside;
    margin-left: -1rem;
    margin-top: 0;
  }

  & > svg {
    width: 3rem;
    height: 3rem;
    color: var(--accent);
    margin-bottom: 0.5rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0 0 0 / 0.25);
    background: rgb(0 0 0 / 0.075);
    box-shadow: 0 2px rgb(0 0 0 / 5%);
    font: inherit;
    padding: 0.625rem 1rem;
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background: rgb(0 0 0 / 0.2);
    }

    &:active {
      margin-top: 2px;
      border-bottom: none;
      box-shadow: none;
    }
  }

  .primary {
    background: var(--accent);
    color: white;
    font-weight: bold;

    &:hover {
      background: color-mix(in srgb, transparent 10%, var(--accent));
    }

    &:active {
      background: color-mix(in srgb, transparent 20%, var(--accent));
    }
  }
}