.system-prompt {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  border-radius: 45px;
  min-height: 45vh;
  z-index: 1000;
  box-shadow: 0 0 100px rgb(0 0 0 / 40%);
  backdrop-filter: brightness(4) saturate(2) blur(40px);
  border: 1px solid rgb(255 255 255 / 0.5);
  padding: 45px;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: 0.4s cubic-bezier(0, 0.68, 0.5, 1.5);

  h3, p {
    margin: 0;
  }

  &:not(.system-prompt--open) {
    translate: 0 140%;
    box-shadow: none;
  }
}