.blueApp {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  transition: 0.3s ease;
  background: var(--accent);

  &.openCamera {
    translate: -25% 0;
    filter: brightness(50%);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255 255 255 / 0.5);
    background: rgb(255 255 255 / 0.15);
    box-shadow: 0 2px rgb(0 0 0 / 5%);
    font: inherit;
    padding: 0.625rem 1rem;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background: rgb(255 255 255 / 0.2);
    }

    &:active {
      margin-top: 2px;
      border-bottom: none;
      box-shadow: none;
    }
  }
}
