:root {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
  font-size: 19px;
  background-color: #f4f8fb;
  color: #0b0c0c;
  --accent: #1d70b8;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: normal;
  src: url(https://www.gov.uk/assets/frontend/light-94a07e06a1-v2-01565b0034e61d4609689bbb7ae0be844701f3812c8fe029fa1659b7ef3aa94f.woff2) format("woff2"), url(https://www.gov.uk/assets/frontend/light-f591b13f7d-v2-369b1da7f442cafca0e8ac0faf1bb64df8170f9c3c7015da1195c8529df5837e.woff) format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: bold;
  src: url(https://www.gov.uk/assets/frontend/bold-b542beb274-v2-35bf540bb39615b6a517986f3aa83f7fefa1efd1878603eeeb196488078542d1.woff2) format("woff2"), url(https://www.gov.uk/assets/frontend/bold-affa96571d-v2-088c8da9d0319b63b23ac19791f37a33ec0d4b61f884ab56123bfd96d8312153.woff) format("woff");
  font-display: fallback;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  flex-direction: column;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  min-height: 100lvh;
  touch-action: manipulation;

  &:has(.blueApp, .splash) {
    background: var(--accent);
    color: white;
  }
}

* {
  box-sizing: border-box;
}
